:root {
  --background-primary-color: #0f6b9d;
  --border-primary-color: #dcdcdc;
  --delete-color: #cc0000;
}

button {
  font-weight: 500;
}

.settings-container label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.35rem;
}

.settings-container h1, 
.settings-container h2 {
  font-weight: 500;
}

.settings-container h2 {
  margin-bottom: 1rem;
  font-size: 1.35rem;
}

.settings-container * {
  text-align: start;
}

.settings-container button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.settings-container img {
  width: 150px;
  height: 150px;
  border: 2px solid #ababab;
  margin-bottom: 0.75rem;
}

.settings-container {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.settings-container main {
  margin: 5rem 0;
  width: 80%;
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.settings-container .settings-header {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--border-primary-color);
}

.settings-container .settings-header h1 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.subheader {
  font-size: 1rem;
  color: #686868;
}

.settings-container .info-container {
  display: flex;
}

.settings-container .info-container .personal-info-container .info {
  padding: 1.5rem 2rem 2rem 0;
  border-right: 1px solid var(--border-primary-color);
}

.settings-container .info-container .personal-info-container .info:first-of-type {
  border-bottom: 1px solid var(--border-primary-color);
}

.settings-container .info-container .personal-info-container .info .inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 3rem;
}

.settings-container .info-container .personal-info-container .info .inputs-container .input-div {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.settings-container .info-container .personal-info-container .info .inputs-container .input-div input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--border-primary-color);
  border-radius: 0.25rem;
}

.settings-container .info-container .personal-info-container .info .inputs-container .email-div,
.settings-container .info-container .personal-info-container .info .inputs-container .phone-num-div,
.settings-container .info-container .personal-info-container .info .inputs-container .name-div {
  position: relative;
}

.settings-container .info-msg {
  position: absolute;
  bottom: -52%;
  right: -26%;
  font-size: 0.75rem;
  padding: 0.5rem;
  background-color: rgba(221, 205, 32, 0.5);
  border-radius: 0.25rem;
  transition: opacity 0.3s;
}

.settings-container .email-div .info-msg {
  opacity: 0;
}

.settings-container .name-div .info-msg {
  right: -10px;
  bottom: auto;
  top: -10px;
}

.settings-container .phone-num-div .info-msg,
.settings-container .wrapper .info-msg {
  right: auto;
  left: 2%;
  bottom: -80%;
}

.settings-container .email-div:hover .info-msg {
  opacity: 1;
}

.settings-container .wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.settings-container .wrapper .icon {
  position: absolute;
  right: 0.5rem;
  top: 9px;
  cursor: pointer;
}

.settings-container .wrapper .info-msg {
  bottom: -108%;
  right: auto;
  background-color: rgba(227, 61, 32, 0.5);
}

.settings-container .wrapper.new-pwd .info-msg {
  left: auto;
  right: -195%;
  bottom: -60%;
}

.settings-container .info-container .profile-image-container {
  padding: 1.5rem 0 0 2rem;
}

.settings-container .info-container .profile-image-container .subheader {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.settings-container .info-container .profile-image-container .image-btn {
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid var(--background-primary-color);
  color: #000;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  transition: 0.3s;
}

.settings-container .info-container .profile-image-container .image-btn label {
  margin-bottom: 0;
}

.settings-container .info-container .profile-image-container .image-btn:hover {
  background-color: var(--border-primary-color);
}

.settings-container .btns-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  position: relative;
}

.settings-container .save-btn,
.settings-container .delete-btn,
.settings-container .change-pwd-btn {
  margin-top: 2rem;
  width: 140px;
  padding: 0.5rem;
  background-color: var(--background-primary-color);
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  transition: 0.3s;
}

.settings-container .change-pwd-btn {
  justify-content: center;
  margin-right: 8rem;
}

.settings-container .delete-btn {
  background-color: var(--delete-color);
}

.settings-container .save-btn:disabled,
.settings-container .save-btn:disabled:hover {
  background-color: #ababab;
  cursor: default;
}

.settings-container .save-btn:hover,
.settings-container .change-pwd-btn:hover {
  background-color: #12547d;
}

.settings-container .delete-btn:hover {
  background-color: #a40000;
}

.settings-container .btns-container .res-icon {
  position: absolute;
  right: -24px;
  bottom: 10px;
  font-size: 1rem;
}

/* Delete pop up (.delete-window) is in App.css */
.settings-container .delete-window .delete-window-content p {
  text-align: center;
}

.delete-window .buttons-container .btn:last-of-type {
  color: #fff;
  background-color: var(--delete-color);
  border: none;
}