.feed-container {
  display: flex;
  margin: 4rem auto 0 auto;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #f0f0f0;
  position: relative;
}

/* Navigation Sidebar */
.navigation-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  position: fixed;
  top: 45%;
  /* left: 5%; */
  right: 85%;
  /* uncomment to make it stick to screen and not move */
}

.navigation-sidebar .btn {
  width: 140px;
  height: 2.25rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}

.navigation-sidebar .btn:hover,
.navigation-sidebar .btn.btn-active {
  border-bottom: 2px solid #c9c9c9;
}

.navigation-sidebar .btn.btn-active {
  font-weight: 500;
}

/* Questions Feed Main Container */
.questions-feed-container {
  display: flex;
  flex-direction: column;
  /* uncomment to make it thinner */
  width: 64%;
}

.questions-feed-container .main-ask-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #dee0e1;
  box-shadow: 0 1px 1px #0000000a;
}

.questions-feed-container .main-ask-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.questions-feed-container .main-ask-container .input-alternative {
  background-color: #f7f7f8;
  border: 1px solid #dee0e1;
  border-radius: 1.25rem;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  color: #939598;
  transition-property: background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.questions-feed-container .main-ask-container .input-alternative:hover {
  background-color: #eeeeef;
}

/* Add Question Pop-up Window */
.add-question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000066;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  border: 1px solid #000;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  transition: 0.3s;
}

.add-question-container.open {
  opacity: 1;
  pointer-events: all;
}

.add-question-container .add-question-content {
  background-color: #fff;
  width: 50%;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.add-question-container .add-question-content .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  gap: 0.5rem;
  padding: 0.5rem;
}

.add-question-container .add-question-content .header .close-btn {
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.25rem;
  transition: background-color 125ms;
}

.add-question-container .add-question-content .header .close-btn:hover {
  background-color: #c9c9c9;
}

.add-question-container .add-question-content .main-content {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.add-question-container .add-question-content .main-content a {
  margin-left: 0.75rem;
}

.add-question-container .add-question-content .main-content img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.add-question-container .add-question-content .main-content input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  width: 100%;
  margin-right: 1rem;
  margin-left: 0.75rem;
  text-align: start;
  font-size: 1rem;
  transition: all 0.3s;
}

.add-question-container .add-question-content .main-content input:hover {
  border-bottom-color: var(--background-primary-color);
}

.add-question-container .add-question-content .btns-container {
  margin-top: 2rem;
  border-top: 1px solid #b5b6b9e1;
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  gap: 0.5rem;
}

.add-question-content .btns-container .btn {
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  background-color: #fff;
  height: 30px;
  width: 70px;
  border-radius: 1.5rem;
  transition: background-color 125ms ease-in-out;
}

.add-question-content .btns-container .btn:last-of-type:disabled {
  cursor: default;
  background-color: #266ab2b9;
}

.add-question-content .btns-container .btn:last-of-type:disabled:hover {
  background-color: #266ab2b9;
}

.add-question-content .btns-container .btn:last-of-type {
  background-color: var(--background-primary-color);
  color: #fff;
}

.add-question-content .btns-container .btn:last-of-type:hover {
  background-color: #2264aadd;
}

.add-question-content .btns-container .btn:first-of-type:hover {
  background-color: #c9c9c9;
} 

/* Question Feed */
.questions-feed-container .questions-container {
  color: #000;
  height: 500vh;
  /* height: 100vh; */
  background-color: #f0f0f0;
}

/* Questions Feed */
.questions-feed {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.75rem;
}

.questions-feed .feed-question-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #dee0e1;
  box-shadow: 0 1px 1px #0000000a;
  cursor: pointer;
  transition: background-color 0.18s ease-in-out;
}

.questions-feed .feed-question-card:hover {
  background-color: #fafafa;
}

.feed-question-card .question-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feed-question-card .question-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 1rem 1rem 0.75rem 1rem;
}

.feed-question-card .question-header .username {
  margin-right: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.feed-question-card .question-header .dot {
  background-color: #9e9e9e;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  margin-right: 0.35rem;
}

.feed-question-card .question-header .created-label {
  color: #9e9e9e;
  font-size: 0.75rem;
}

.feed-question-card .question-content {
  text-align: start;
  padding: 0 1rem 0.5rem 1rem;
}

.feed-question-card .question-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.35rem 1rem 0.75rem 1rem;
  gap: 0.65rem;
}

.feed-question-card .question-footer > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #9e9e9e;
  font-size: 0.8rem;
}

.feed-question-card .question-footer .icon.like {
  font-size: 1.35rem;
}

.feed-question-card .question-footer .icon.comment {
  font-size: 1.15rem;
  margin-top: 0.1rem;
}
.questions-feed .view-questions-btn {
  width: 100%;
  height: 36px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  border: 1px solid #dee0e1;
  box-shadow: 0 1px 1px #0000000a;
  border-radius: 1.5rem;
  transition: 0.2s;
  font-weight: 500;
}

.questions-feed .view-questions-btn:hover {
  background-color: #fafafa;
}

/* Uncomment to add pagination */
/* .questions-container .pagination-container .btn {
  background-color: var(--background-primary-color);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  height: 30px;
  width: 80px;
  border-radius: 1rem;
  color: #fff;
}

.questions-container .pagination-container .btn:disabled {
  background-color: #999;
  cursor: default;
} */